CELERY_BROKER_URL = redis://localhost:6379
CELERY_RESULT_BACKEND = redis://localhost:6379

SECRET_KEY = django-insecure-p5ewg(uxw9!=xill9l85#3csvw*whw$=_myqklk!tdtu31pu0*
DEBUG = False
ALLOWED_HOSTS = *

DATABASE_ENGINE = django.db.backends.postgresql_psycopg2
POSTGRES_NAME = postgres
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
POSTGRES_HOST = db
POSTGRES_PORT = 5432