{% extends 'base.html' %}

{% block content %}

<section class="section-padding" id="booking">
    <div class="container">
        <div class="row">
        
            <div class="col-lg-8 col-12 mx-auto">
                <div class="booking-form">
                    
                    <h2 class="text-center mb-lg-3 mb-2">Вы действительно хотите выйти из учётной записи?</h2>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <a href="{% url 'users:logout_commit' %}">
                                <button type="submit" class="form-control" id="submit-button">Выйти</button>
                            </a>
                        </div>

                        <div class="col-lg-6 col-12">
                            <a href="{% url 'main:cabinet' %}">
                                <button type="submit" class="form-control" id="submit-button">Вернуться в личный кабинет</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}